#left {
    float: left;
    width: 100px;
    margin-left: 5em;
    margin-top: 1em;
}
#right {
    float: right;
    width: 100px;
    margin-right: 1em;
    margin-top: 1em;
}
mat-card {
    margin-top: 5em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 2em;
}
